@charset "UTF-8";
.myflex{
	display:flex;
	height:100vh;
	justify-content:space-between;
	
}
.menubar{
	flex-basis:20%;
}
.content{
	flex-basis:70%;
}
.col{
	height:100%;
	width:20%;
}
.formcontent{
	height:100%;
}
.LoginContainer{
	width:600px;
	background-color:gray;
	height:400px;
	position:relative;
	left:400px;
	top:100px;
}
.LoginContainer ul{
	position:absolute;
	list-style-type:none;
	left:70px;
	top:100px;
	paddding:20px;
}
.LoginContainer ul li{
	padding:10px;
}
.LoginContainer ul li input{
	width:400px;
	height: 40px;
	border-top-right-radius:0px;
	border-radius:10px;
}
